<div class="News">
  {% if site.News != blank %}
    {% assign News_size = site.News | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.announcements.scrollable and News_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign News = site.News | reverse %}
        {% if include.limit and site.announcements.limit %}
          {% assign News_limit = site.announcements.limit %}
        {% else %}
          {% assign News_limit = News_size %}
        {% endif %}
        {% for item in News limit: News_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="News-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No News so far...</p>
  {% endif %}
</div>
