<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<body>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
           <tr onmouseout="nlt_stop()" onmouseover="nlt_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/gebd_wacv_23.png" width="160" height="100">
            </td>
            <td width="75%" valign="middle">
              <a href=https://arxiv.org/abs/2210.05574>
                <papertitle>Motion Aware Self-Supervision for Generic Event Boundary Detection</papertitle>
              </a>
              <br>
                <strong>Ayush K. Rai</strong>, Tarun Krishna, Julia Dietlmeier, Kevin McGuinness, Alan F. Smeaton, Noel E. O'Connor<br>
              <em>Winter Conference on Applications of Computer Vision (<strong>WACV</strong>)</em>, 2023<br>
            </td>
          </tr> </tbody></table> <br>
</body>
</html>