<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  {% include head.html %}
</head>

<body>

  {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>


                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
                  <tr onmouseout="nlt_stop()" onmouseover="nlt_start()">
                   <td style="padding:20px;width:25%;vertical-align:middle">
                   <img src="../images/bmvc2023.png" width="160" height="100"/>
                   </td>
                   <td width="75%" valign="middle">
                     <a href=https://arxiv.org/abs/2210.05574>
                       <papertitle>Unifying Synergies between Self-supervised Learning and Dynamic Computation</papertitle>
                     </a>
                     <br>
                      Tarun Krishna, <strong>Ayush K. Rai</strong>, Alexandru Drimbarean, Eric Arazo, Paul Albert, Kevin McGuinness, Alan F. Smeaton, Noel E. O'Connor<br>
                     <em>IEEE/CVF Winter Conference on Applications of Computer Vision (<strong>WACV</strong>)</em>, 2023<br>
                     [<a href="https://arxiv.org/pdf/2210.05574"><em>arXiv</em></a>] [<a href="https://github.com/KrishnaTarun/Unification">Code</a>]<br>
                   </td>
                 </tr> </tbody></table> <br>
       


          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
                    <tr onmouseout="nlt_stop()" onmouseover="nlt_start()">
                      <td style="padding:20px;width:25%;vertical-align:middle">
                      <img src="../images/wacv2023.png" width="160" height="100"/>
                      </td>
                      <td width="75%" valign="middle">
                        <a href=https://arxiv.org/abs/2210.05574>
                          <papertitle>Motion Aware Self-Supervision for Generic Event Boundary Detection</papertitle>
                        </a>
                        <br>
                          <strong>Ayush K. Rai</strong>, Tarun Krishna, Julia Dietlmeier, Kevin McGuinness, Alan F. Smeaton, Noel E. O'Connor<br>
                        <em>IEEE/CVF Winter Conference on Applications of Computer Vision (<strong>WACV</strong>)</em>, 2023<br>
                        [<a href="https://arxiv.org/pdf/2210.05574"><em>arXiv</em></a>] [<a href="https://github.com/rayush7/motion_ssl_gebd">Code</a>]<br>
                      </td>
                    </tr> </tbody></table> <br>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr onmouseout="nlt_stop()" onmouseover="nlt_start()">
             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="../images/imvip2022.png" width="160" height="100"/>
             </td>
             <td width="75%" valign="middle">
              <a href=https://arxiv.org/abs/2207.12065>
                 <papertitle>Dynamic Channel Selection in Self-Supervised Learning</papertitle>
               </a>
               <br>
                Tarun Krishna, <strong>Ayush K. Rai</strong>,  Yasser A. D. Djilali, Alan F. Smeaton, Kevin McGuinness , Noel E. O'Connor<br>
               <em>Irish Machine Vision and Image Processing Conference (<strong>IMVIP</strong>)</em>, 2022<br>
               [<a href="https://arxiv.org/pdf/2207.12065"><em>arXiv</em></a>] [<a href="https://github.com/KrishnaTarun/SSL_DGC">Code</a>]<br>
             </td>
           </tr> </tbody></table> <br>

          </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

</body>
</html>